*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Inter',sans-serif;
    background-color: #F2F1ED;
    color:#111827;
}

/*Navbar*/

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: transparent;
  border-bottom: 1px solid #e5e7eb;
  font-size: 24px;
  position: sticky; top:0;
  backdrop-filter:blur(5px);
}

.takri-homeback{
  font-weight: 600;
  color: #374151;
}

.takri-homeback a{
  text-decoration: none;
  color: #374151;
}

nav a{
  margin-left: 24px;
  font-size: 16px;
  text-decoration: none;
  color: #374151;
  cursor: pointer;
}

nav a:hover{
  color: #C2410C;
}

/*Hero*/
.hero-index{
  text-align: center;
  padding: 100px 20px;
}

.hero-index h1{
  font-size: 64px;
  font-weight: 800;
  justify-content: center;
  margin-bottom: 20px;
  color:#111827;
}

.hero-index p{
  font-size: 18px;
  color: #4b5563;
  margin-bottom: 40px;
}

.buttons-hero{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 60px;
}

button{
  padding: 14px 26px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;

}

.btn-primary{
  background-color: #C2410C;
  color: white;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
.btn-primary:hover{
  background-color: #b04808;
}
.btn-secondary{
  background-color: #FFFFFF;
  color: #374151;
   border: 1px solid #D1D5DB;
}
.btn-secondary:hover{
  background-color: #f3f4f6;
  color: #C2410C;
  border-color: #b04808;
}
/*Takri-text-index*/
.text-takri-hero{
  font-size: 52px;
  letter-spacing: 12px;
  color: #C2410C;
}

.feature{
  display: flex;
  justify-content: center;
  gap: 30px;
  pad:80px 40px;
  flex-wrap: wrap;
}

.feature a{
  text-decoration: none;
}

.card-index{
  background-color: #FFFFFF;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
 padding: 30px;
 width:320px;

 box-shadow: 0 80x 20px rgba(0,0,0,0.05);
 transition: 0.25s ease;
}

.card-index h3{
  font-size: 20px;
  color: #111827;
  margin-bottom: 10px;
}

.card-index p{
  color: #4b5563;
  font-size: 15px;
  line-height: 1.6;
}

.card-index:hover{
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.icon-card-index{
  width: 50px;
  height: 50px;
  background: #FEF3C7; 
  color: #C2410C;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  font-size: 22px;
  margin-bottom: 20px;
}

/*ABOUT*/

.about-index{
  max-width: 800px;
  background-color: #FFFFFF;
  border-radius: 16px;
  margin: 80px auto;
  padding: 40px;

  border: #e5e7eb;
  border-width: 1px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.about-index h2{
  font-size: 32px;
  color: #111827;
  padding-bottom: 40px;
}

.about-index p{
  line-height: 1.8;
  color: #4b5563;
}

.about-index a{
  text-decoration: none;
  color: #4b5563;
}

.about-index a:hover{
  color: #b04808;
}

/*Footer*/
.footer-primary{
  background: #FFFFFF;
  border-top: 1px solid #e5e7e8;
  margin-top: 80px;
}

.footer-primary-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 40px;
  gap:40px;
}

.footer-primary-container-brand h3{
  font-size: 20px;
  margin-bottom: 10px;
  color: #111827;
}

.footer-primary-container-brand p{
  color: #6b7280;
  max-width: 250px;
}

.footer-primary-container-links h4{
  font-size: 16px;
  margin-bottom: 12px;
  color: #111827;
}

.footer-primary-container-links a{
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: #4B5563;
  font-size: 14px;
  transition: 0.2s;
}

.footer-primary-container-links a:hover{
  color: #C2410C;
}

.footer-primary-container-resources{
  text-align: center;
  padding: 20px;
  border-top: 1px solid #E5E7EB;
  font-size: 14px;
  color: #6B7280;
}

/*Alphabet*/

.alphabet-hero{
  text-align: center;
  padding:100px 20px;
}

.alphabet-hero h2{
  justify-content: center;
  font-size: 52px;
  font-weight: 800;
  color: #111827;
  margin-bottom: 20px;
}

.alphabet-herop{
  justify-content: center;
  font-size: 18px;
  color: #4B5563;
}

.title{
  margin-top: 40px;
}

.alphabet-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px, 1fr));
  gap: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.letter{
  position: static;
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 16px;
  font-size: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.label{
  position: absolute;
  bottom:10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #374151;
  opacity: 0;
  transition: 0.2s;
}

.letter:hover .label{
  opacity:1;
}

.letter span{
  display:block;
  font-size: 14px;
  color: gray;
}

.letter:hover{
  background: #FEF3C7;
  transform: scale(1,1);
}
