*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Inter',sans-serif;
    background-color: #F2F1ED;
    color:#111827;
}

/*Navbar*/

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: transparent;
  border-bottom: 1px solid #e5e7eb;
  font-size: 24px;
  position: sticky; top:0;
  backdrop-filter:blur(5px);
}

.takri-homeback{
  font-weight: 600;
  color: #374151;
}

.takri-homeback a{
  text-decoration: none;
  color: #374151;
}

nav a{
  margin-left: 24px;
  font-size: 16px;
  text-decoration: none;
  color: #374151;
  cursor: pointer;
}

nav a:hover{
  color: #C2410C;
}

/*Hero*/
.hero-index{
  text-align: center;
  padding: 100px 20px;
}

.hero-index h1{
  font-size: 64px;
  font-weight: 800;
  justify-content: center;
  margin-bottom: 20px;
  color:#111827;
}

.hero-index p{
  font-size: 18px;
  color: #4b5563;
  margin-bottom: 40px;
}

.buttons-hero{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 60px;
}

button{
  padding: 14px 26px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;

}

.btn-primary{
  background-color: #C2410C;
  color: white;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
.btn-primary:hover{
  background-color: #b04808;
}
.btn-secondary{
  background-color: #FFFFFF;
  color: #374151;
   border: 1px solid #D1D5DB;
}
.btn-secondary:hover{
  background-color: #f3f4f6;
  color: #C2410C;
  border-color: #b04808;
}
/*Takri-text-index*/
.text-takri-hero{
  font-size: 52px;
  letter-spacing: 12px;
  color: #C2410C;
}